// color ----------------------------------------------
$mainColor1: #f4f4f4;
$mainColor2: #d6c7b2;

$bgColor1: #fff9e2;
$bgColor2: #daae75;

$textColor1: #f4f4f4;
$textColor2: #96854e;
$textColor3: #373737;


@mixin textTitle {
  font-size: 3.5rem;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  color: $textColor2;
}

@mixin linkEffect {
  text-decoration: none !important;
  cursor: pointer;
  color: $textColor2 !important;

  &:hover {
    color: $textColor2;
  }
}

.emailLink {
  @include linkEffect;
}


// START: divide line ----------------------------------------------
.divider {
  display: inline-block;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;

  .divider--line {
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: $mainColor2;
  }
}

// END: divide line ----------------------------------------------


// START: links-photo ---------------------
// --------------------------------------------
.photo-size {
  margin-top: 10rem;
  margin-bottom: 5rem;

  &:hover {
    opacity: 0.7;
  }

  a {
    @include linkEffect;

    img {
      width: 100%;
    }
  }
}

// --------------------------------------------
// END: links-photo ---------------------------




// index.html -----------------------------------------------------------------
// ----------------------------------------------------------------------------



// START: carousel ----------------------------
// --------------------------------------------


#carouselExampleIndicators {
  width: 100%;

  @media screen and (min-width: 1025px) {
    .slideshow {
      height: 100vh;
      width: 100%;
    }

    .carousel-inner {
      height: 500px;
    }

    .carousel-item {
      img {
        position: relative;

        &.slide1 {
          top: -100px;
        }

        &.slide2 {
          top: -200px;
        }

        &.slide3 {
          width: 100%;
          top: -100px;
        }
      }
    }
  }
}



// button ------------------------------------------------------

.action-button {
  display: inline-block;
  margin-top: 2rem;

  .linkToAbout {
    @include linkEffect;
    padding: 0.5rem 1.2rem;
    background-color: $bgColor2;
    // border: 1px solid $bgColor1;
    border-radius: 10px;
    box-shadow: 0px 2px 2px $textColor3;
    color: $textColor1 !important;
    font-size: 0.8rem;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    span {
      display: inline-block;
      width: 200px;
      height: 200px;
    }
  }
}

.form-button {
  float: left;
  background-color: $bgColor1;
  color: $textColor2 !important;
  // min-width: 8rem;
  padding: .5rem 2rem;
  min-height: 2rem;
  cursor: pointer;
  box-shadow: 0px 2px 2px $textColor3;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.portfolio-link {
  width: 400px !important;
  margin: auto;
  margin-bottom: 340px;
}